body {
  padding: 50px;
  font: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #2C363F;
  color: #F2F5EA;
}
h1{
  font-weight: 400;
}
a {
  color: #00B7FF;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: #73130d;
}
	
li {
  list-style: none;
}
button{
  background-color: #F2F5EA;
  border: 1px solid #D6DBD2;
}